body,
html {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: "Roboto", sans-serif;
}
table {
  border: 1px solid black;
}
tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul::-webkit-scrollbar {
  width: 5px;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a3a3a3;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
  }
}
